* { padding:0;
	margin:0;
	font-size: 14px;
	outline:none;
}

body {
	margin: 0 auto;
	width:1100px;
}

#top {
	margin-top: 50px;
}
#top img {
	float: left;
}
#top h1 {
	margin-left: 70px;
	padding-top: 13px;
	font-size: 19px;
}
#tabs {
	margin-top:30px;
	height:480px;
}
#add , #delete {
	margin-left:10px;
}
#new {
	width: 400px;
	height: 200px;
	border: 1px solid #ddd;
	margin-left: 560px;
	margin-top: 30px;
	border-radius: 10px;
	background-color: #f6f6f6;
	position: absolute;
	padding: 20px 20px;
}
#new h1 {
	width:70px;
	margin: 0 auto;
	padding-bottom: 10px;
}
#new p {
	padding: 5px 0;
}
#share div{
	float: left;
	font-size:14px;
}
#share input{
	margin-top: 14px;
	margin-left: 30px;
}
#switch div {
	font-size: 14px;
	float: left;
}
#switch img {
	width:55px;
	padding-left: 20px;
	cursor: pointer;
}
#switch, #share {
	padding: 10px 0;
}
#tabs-1 {
	position: relative;
}