* { padding:0;
	margin:0;
	font-size: 14px;
	outline:none;
}

body {
	margin: 0 auto;
	width:90%;
}

#top {
	margin-top: 50px;
}
#top img {
	float: left;
}
#top h1 {
	margin-left: 70px;
	padding-top: 13px;
	font-size: 19px;
}
#tabs {
	margin-top:30px;
	height:480px;
}
#add , #delete {
	margin-left:10px;
}
#new {
	width: 400px;
	height: 300px;
	border: 1px solid #a3a3a3;
	margin-left: 600px;
	margin-top: 30px;
	border-radius: 10px;
	background-color: #fff;
}